body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: bold;
}

.tall-section {
    background-color: #18d628;
    padding: 50px 0;
}

.tall-section p {
    margin-bottom: 20px;
}
